.container {
  display: flex;
  align-content: center;
}

.item {
  width: 500px;
  height: 50px;
  margin: 0 5px;
  padding: 40px;
}

#map {
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
