#banner {
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url("https://slack-imgs.com/?c=1&url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F620335%2Fpexels-photo-620335.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26fit%3Dcrop%26h%3D627%26w%3D1200");
  background-size: cover;
  height: calc(100vh - 140px);
  margin-top: 70px;
}

.banner-content {
  text-align: center;
  color: white;
  padding-top: 150px;
}
