<footer class="foot text-center"> <strong> Rent your Car </strong> &copy;  Contact us on <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-linkedin"></a>
</footer>
