


<form action="/cars" method="get" >

  <label for="searched_car">Search for your car:</label>
  <input id="searched_car" name="searched_car" type="text" placeholder="Search here"/>

  <label for="address">Whats your address</label>
  <input id="address" name="address" type="text" placeholder="Postcode or full address"/>

  <label for="start_date">Start Date</label>
  <input id="start_date" name="start_date" type="date" placeholder="Format DDMMYY" />

  <label for="end_date">End Date</label>
  <input id="end_car" name="end_date" type="date" placeholder="Format DDMMYY" />

  <input name="commit" type="submit" value="Search" class="btn btn-primary" />
</form>

