


<form action="/cars" method="get" >
  <div class="fhold" style="padding: 20px;">
    <label class="searchbar" for="address">Whats your address</label>
    <input name="search" type="text" placeholder="Address or Postcode.."/>
  </div>
  <div class="fhold" style="padding: 20px;">
    <label for="start_date">Start Date</label>
    <input id="datetime" name="start_date" type="datetime-local" placeholder="Format DDMMYY" />

    <label for="end_date">End Date</label>
    <input id="datetime" name="end_date" type="datetime-local" placeholder="Format DDMMYY" />
  </div>

  <div class="fhold" style="padding: 20px;">
    <input name="commit" type="submit" value="Search" class="button" />
  </div>
</form>

