

<form action="/cars" method="get" >
  <div class="fhold">
    <input class="searcher" name="search" type="text" placeholder="Address or Postcode..."/>
  </div>
  <div class="">
    <input  class="start datepicker" name="start_date" type="datetime-local" placeholder="Start date" />
    <input class="datepicker" name="end_date" type="datetime-local" placeholder="End date" />
  </div>

  <div class="fhold">
    <input name="commit" type="submit" value="Search" class="button" />
  </div>
</form>

