

<form action="/cars" method="get" >
  <div class="fhold" style="padding: 20px; min-width: 500px; max-width: 500px; margin-left: 605px;">
    <input class ="searcher" name="search" type="text" placeholder="Address or Postcode.."/>
  </div>
  <div class="fhold" style="padding: 20px; max-width: 330px; justify-content: space-between; margin-left: 650px; text-align: center;">
    <input  class="start datepicker" name="start_date" type="datetime-local" placeholder="Start date" />
    <input class="datepicker" name="end_date" type="datetime-local" placeholder="End date" />
  </div>

  <div class="fhold" style="padding: 20px;">
    <input name="commit" type="submit" value="Search" class="button" />
  </div>
</form>

