
 <div>
  <div class="wrapper">
    <div id="banner">
      <div class="banner-content">
        <h1>Easy Car Rental: <strong>Just click and drive</strong></h1>
        <p>Making car sharing a doddle</p>
          <a href="#" class="btn-medium">Search</a>
      </div>
    </div>
 </div>
    <%= render 'pages/cards' %>
</div>
