<div id="banner">
  <div class="banner-content">
    <h1>Easy Car Rental: <strong>Just click and drive</strong></h1>
    <p>Making car sharing a doddle</p>
    <%= render 'pages/searchform' %>
   </div>
</div>
