.form {
  text-align: center;
}

.form-inputs {
  margin-top: 50px;
}

.form-column {
  padding-top: 70px;
}

.cancel-items {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.create-button {
  margin-bottom: 20px;
}

#car_photo {
  display: flex;
    width: 222px;
}

.car_photo {
      display: flex;
    flex-direction: column;
    align-items: center;
}

.login {
  padding-bottom: 20px;
}

#black-input {
  color: black;
}
