
<div class="wrapper">
  <div class="container">
    <div class="row">
      <% @cars.each do |c| %>
      <div class="col-xs-12 col-sm-4">
        <%= render 'pages/card', car: c %>
      </div>
      <% end %>
    </div>
  </div>
</div>



